
.color {

    color: #3DF539;
}
.telefonos{
    color: #2592FA;

}
.Mision {
    color: #25fa97
}
.Libreria{
        color:crimson

}

banner{
    height: 18px;
}

.carrusel{
    width:100%;
}

.imgcarrusel{
    width:100%;
}
